<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <link rel="stylesheet" href="login.css">
  <div class="pageLogin"></div>
  <h2 class="login">Login</h2>
    <div class="inputLogin">
        <form name="login" methode="POST" action="../controllers/administrateur.php" onload="loginAdmin()">
          <label for="nom">Votre adresse email: </label>
          <br>
          <input type="email" name="" id="email" placeholder="votre email" required>
          <br>
          <label for="password">Mot de passe:</label>
          <br>
          <input type="password" name="password" id="password" placeholder="password" required>
          </div>
          <br>
          <div class="bouton" id="bouton">
            <button class="buttonAdmin" type="submit" name="submit" id="submit" disabled="disabled">Connexion</button>
        </form>
        </div>
      </div>
</body>
</html>